header {
  --text: white;
  --text-inverse: #133c55;
  --background: #051016;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 250ms ease-in;
  background-color: var(--background);
  color: var(--text);
}

body {
  background-color: white;
  color: #051016;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 10vh 10rem 60vh 10rem;
  justify-content: center;
  position: relative;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #133c55;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 5px;
}

p {
  font-size: 1.25em;
}

footer {
  padding: 5px 100px;
  display: flex;
  justify-content: center;
}

footer > a,
i,
section.projects > ul > a,
section.salutation > a > p {
  padding: 5px 10px;
  color: #051016;
}

section.interests {
  padding: 10vh 10vh 90vh 10vh;
}

td,
th {
  color: #051016;
  padding-left:1rem;
  padding-right:1rem;
}

hr {
  border-top: 1px solid #133c55;
}

#menu {
  display: none;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

.salutation {
  font-size: 1.75em;
  padding-left: 10rem;
  padding-right: 10rem;
}

.salutation > div {
  color: #216894;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav__list {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.centre{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .nav__list {
    text-align: center;
    display: inline-block;
  }
  nav {
    display: none;
  }
  #menu {
    display: inline-block;
  }
  section {
    padding: 10vh 2vh 60vh 2vh;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .salutation{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 510px) {
  section {
    padding: 10vh 2vh 60vh 2vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  section.interests {
    padding: 10vh 2vh 70vh 2vh;
  }
  .salutation{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav-scrolled:hover,
  .nav__list:hover,
  .nav-small:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
    transition: transform 250ms ease-in-out;
  }
  .nav__link:hover,
  i:hover {
    color: #216894;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 750ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.fade-in.disappear {
  opacity: 0;
}

.job {
  display: flex;
}
