header {
  --text: white;
  --text-inverse: #133c55;
  --background: #051016;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 250ms ease-in;
  background-color: var(--background);
  color: var(--text);
}
hr {
  border-top: 1px solid #133c55;
}
h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #133c55;
}
p {
  font-size: 1.25em;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td,
th {
  color: #051016;
  padding-left:1rem;
  padding-right:1rem;
}
#menu {
  display: none;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

.nav__list {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

body {
  background-color: white;
  color: #051016;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Montserrat", sans-serif;
}
.salutation {
  font-size: 1.75em;
}

.salutation > div {
  color: #216894;
  text-align: center;
  justify-content: center;
  align-items: center;
}

section {
  padding-top: 10vh;
  padding-bottom: 60vh;
  justify-content: center;
  position: relative;
}
section.interests {
  padding-bottom: 90vh;
}

.contact-anchors > a{
  text-decoration: none;
  color: #051016;
  padding-left: 1rem;  
  padding-right: 1rem;  
}
.centre{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .nav__list {
    text-align: center;
    display: inline-block;
  }
  nav {
    display: none;
  }
  #menu {
    display: inline-block;
  }
}

@media screen and (max-width: 510px) {
  section.interests {
    padding-top: 10vh;
    padding-bottom: 70vh;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav-scrolled:hover,
  .nav__list:hover,
  .nav-small:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
    transition: transform 250ms ease-in-out;
  }
  .nav__link:hover,
  .contact-anchors > a:hover,
  i:hover {
    color: #216894;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 750ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.fade-in.disappear {
  opacity: 0;
}
